body {
  margin: 0;
  background-color: black;
  text-align: center;
  color: rgba(180, 5, 8, 0.884);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
