.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #B40508;
  padding: 16px;
  border-radius: 4px;
  color: rgba(180, 5, 8, 0.884);
}

a {color:rgba(180, 5, 8, 0.884);
text-decoration: none; }
a:hover{
  color: #d9d9d9;
}

.btn btn-primary w-100{
  background-color: rgba(180, 5, 8, 0.884);
}

input[type="search"] { 
   display: inline-block;
   
    }

    input[type="text"], textarea {

  background-color :  #d9d9d9;
  
  color: #4a494e;



}
h1 {font-size: 30px;
margin-left: -85px;
margin-bottom: -13px;}
h2 {margin-top: 30px;
font-size: 30px;
}
.units {
  position: relative;
  top: -14px;
  font-size: 17px;
  text-decoration: none;
  
}
h3 {font-size: 20px;
text-transform: capitalize;}
h4 {font-size: 16px;}
.btn-primary {
  color: #d9d9d9;
  background-color: rgba(180, 5, 8, 0.884);
  border-color: rgba(180, 5, 8, 0.884);
  
}
.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem var(--darken-1);
  background-color: #4a494e;
  border-color: rgba(180, 5, 8, 0.884);
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color:rgba(180, 5, 8, 0.884);
  font-size: 34px;
  line-height: 64px;
  
  font-weight: 400;
  
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color:rgba(180, 5, 8, 0.884);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}